 /* Align button properly within the column */
.column {
  display: flex;
  align-items: center;
  justify-content: center;
}

.widget-creators-item .order {
  margin-top: 6px;
}

.widget-coins-item img {
  margin-top: -7px;
}


.card {
    width: 100%;
    max-width: 680px;
    padding: 15px;
    position: relative;
}

.card::before,
.card::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.card::after {
    z-index: 2;
    background-color: #232323;
}

.card-content {
    position: relative;
    z-index: 3;
}

#student_view_details_overlay {
  display: none; /* Initially hidden */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  justify-content: center;
  align-items: center;
}

#student_view_details_overlay.active {
  display: flex;
}


#student_view_details_inner_container {
    position: relative;
    background: #555555;
    padding: 20px;
    border-radius: 8px;
    width: 50%;
    text-align: center;
    width: 1100px;
    height: 650px;
    overflow-y: auto;
}

#close-view-details-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 28px;
    background: none;
    border: none;
    cursor: pointer;
    color: #fff;
}

.hidden-container {
  display: none; /* Initially hidden */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.hidden-container.active {
  display: flex;
  opacity: 1;
}


.student-basic-details {
    margin-top: 30px;
}

    .student-basic-details h6 {
        font-size: 24px;
    }

.status {
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
}

    .status.active {
        background-color: #29642b;
        color: #fff;
    }

    .status.completed {
        background-color: #3f3f3f;
        color: #fff;
    }

/* Overlay styling */
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  justify-content: center;
  align-items: center;
}
.overlay.active {
  display: flex;
}

/* Inner Container Styling */
.student_details_inner_container {
  background: #555555;
  padding: 20px;
  border-radius: 8px;
  width: 1100px;
  height: 650px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
}

/* Close Button */
.close-btns {
  margin-top: 20px;
  margin-left: 95%;
  padding: 10px 20px;
  background: #f44336;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.close-btns:hover {
  background: #d32f2f;
}
/* Style for the eye button */
.view-details-btn {
  background: none;
  border: none;
  font-size: 18px;
  color: #ddf247;
  cursor: pointer;
  padding: 5px;
}

.view-details-btn:hover {
  color: #fff;
}
/* Align button properly within the column */
    
  /* Overlay Container */
.notification-overlay-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none; /* Hidden by default */
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

.card-content .item {
    margin-top: 10px;
  }

  /* Inner Container */
.notification-inner-container {
    background-color: #434343;
    width: 1100px;
    height: 650px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    position: relative;
    overflow-y: auto;
  }

  /* Close Button */
.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    font-size: 18px;
    cursor: pointer;
    color: black;
    font-size: 24px;
  }

.close-btn:hover {
    background-color: red;
  }

.updates-events-container {
    background-color: #434343;
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }

.related-posts-item {
    width: 600px;
    height: 80px;
  }

.notification-div-container {
    background-color: #434343;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    height: 400px;
    padding: 20px;
    margin-top: 40px;
  }

.notification-header {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
    
  /* Overlay Container Styles */
.updates-events-overlay-container {
    display: none; /* Initially hidden */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
    z-index: 9999;
    justify-content: center;
    align-items: center;
  }

  /* Inner Container Styles */
.updates-events-inner-container {
    width: 1000px;
    height: 650px;
    background-color: #434343;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  /* Close Button Styles */
.update-events-close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    font-size: 18px;
    cursor: pointer;
    color: #fff;
    font-size: 24px;
  }

.update-events-close-btn:hover {
    background-color: transparent;
  }

.updates-events-header {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
  }

.updates-events {
    background-color: #fff;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
  }



