<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/swiper-bundle.min.js' %}"></script>
<script src="{% static 'js/swiper.js' %}"></script>
<script src="{% static 'js/countto.js' %}"></script>
<script src="{% static 'js/count-down.js' %}"></script>
<script src="{% static 'js/simpleParallax.min.js' %}"></script>
<script src="{% static 'js/gsap.js' %}"></script>
<script src="{% static 'js/SplitText.js' %}"></script>
<script src="{% static 'js/wow.min.js' %}"></script>
<script src="{% static 'js/ScrollTrigger.js' %}"></script>
<script src="{% static 'js/gsap-animation.js' %}"></script>
<script src="{% static 'js/tsparticles.min.js' %}"></script>
<script src="{% static 'js/tsparticles.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>